<article class="card blog-card">
  <a href="{{ .RelPermalink }}" title="{{ .Title }}">
    {{ with .Params.image }}
      {{ if fileExists (add `assets/` .) }}
        {{ $img:= resources.Get . }}
        {{ $img:= $img.Resize "570x " }}
        {{ $imgWebp:= $img.Resize "570x webp" }}
        <img
          loading="lazy"
          decoding="async"
          class="card-img-top h-auto"
          width="{{ $img.Width }}"
          height="{{ $img.Height }}"
          src="{{ $imgWebp.RelPermalink }}"
          alt="blog-post"
          onerror="this.onerror=null;this.src='{{ $img.RelPermalink }}'" />
      {{ end }}
    {{ end }}
  </a>
  <div class="card-body">
    <h3 class="card-title">
      <a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a>
    </h3>
    <p>{{ if .Params.image }}{{ .Plain | truncate 120 }}{{ else }}{{ .Plain | truncate 500 }}{{ end }}</p>
  </div>
  <div class="card-footer bg-transparent border-top-0">
    <div class="card-author">
      <div class="d-flex align-items-center">
        <a href="{{ .Permalink }}" class="btn btn-primary mt-4">
          Read More >>
        </a>
      </div>
    </div>
  </div>
</article>
